
#title { 
    background-image: linear-gradient(to left, rgb(10, 10, 139), rgba(47, 65, 221, 0.493));
    color: white;
    border-radius: 10px;
    
}

#search-box  {
    margin: 40px 40px 20px 40px;
    
}

#title-container {
    border-radius: 10px;
    margin: 40px 40px 20px 40px;
}



#search {
    margin-bottom: 20px;
    min-width: 100%;
}

.search-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
}


#history {
    border-top: 2px solid black;
    position: flex;
    flex-wrap: flex;
    border-top: 2px solid black;
    height: 550px;
    
    
}
#dynamic-city {
    border: 2px solid grey;
    min-height: 300px;
    margin-bottom: 10px;

}
#dynamic-weather {
    height: 55px;
}

#weather-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 320px;
    margin: 0px;
}


.cards {
    height: 220px;
    width: 140px;
}

/*#monday-card , #tuesday-card , #wednesday-card , #thursday-card , #friday-card*/


